.App {
   text-align: center;
}

.Header {
   width: 100%;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-end;
   padding: 50px 15% 90px;
   color: #ffffff;
   background-color: #5366fd;
   text-align: left;
}

.Header__Title {
   margin: 8px 0;
   font-weight: 500;
   font-size: 28px;
   text-transform: uppercase;
}

.Header__Subtitle {
   font-size: 14px;
}

@media (max-width: 992px) {
   .Header {
      padding-right: 5%;
      padding-left: 5%;
   }
}

@media (max-width: 768px) {
   .Header {
      padding-right: 2.5%;
      padding-left: 2.5%;
   }
}
